.showBlog {
    width: 100%;
    overflow: hidden;
}

.showBlog>ul {
    list-style: none;
    float: left;
    width: 21%;
    margin: 0 2% 2% 2%;
}

.showBlog>ul>li {
    display: block;
    margin-top: 17%;
    /* height: 300px; */
}

.blog_item {
    background: white;
    text-align: center;
    width: 100%;
    position: relative;
}

.icon {
    display: block;
    position: relative;
    height: 5%;
}

.icon>i {
    font-size: 45px !important;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

.blog_item_head,
.blog_item_date {
    margin: 1% 0;
    font-size: 13px;
    color: Gray;
}

.blog_item_title {
    margin: 1% 0;
    font-size: 14px;
}

.blog_item_content {
    border-bottom: solid 1px gray;
}

.blog_item_text {
    text-align: left;
    line-height: 1.7;
    text-indent: 2em;
    font-size: 13px;
    padding: 5% 10% 0 10%;
}

.blog_item_footer,
.blog_item_footer i {
    font-size: 13px !important;
}

.blog_item_footer {
    text-align: center;
}

.blog_item_footer li {
    display: inline-block;
    float: left;
    width: 25%;
}

.readArticle {
    cursor: pointer;
    font-size: 13px;
    border-left: solid 2px gainsboro;
    border-right: solid 2px gainsboro;
}