
.showBlog {
    width: 100%;
    overflow: hidden;
}

.showBlog>ul {
    list-style: none;
    float: left;
    width: 21%;
    margin: 0 2% 2% 2%;
}

.showBlog>ul>li {
    display: block;
    margin-top: 17%;
}

.blog_item {
    background: white;
    text-align: center;
    width: 100%;
    position: relative;
}

.icon {
    display: block;
    position: relative;
    height: 5%;
}

.icon>i {
    font-size: 45px !important;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}


.blog_item_head,
.blog_item_date {
    margin: 1% 0;
    font-size: 13px;
    color: darkgray;
}

.blog_item_title {
    margin: 1% 0;
    font-size: 14px;
}

.blog_item_content {
    border-bottom: solid 1px gray;
}

.blog_item_text {
    text-align: left;
    line-height: 1.7;
    text-indent: 2em;
    font-size: 13px;
    padding: 5% 10% 0 10%;
}

.blog_item_footer,
.blog_item_footer i {
    font-size: 13px !important;
}

.blog_item_footer {
    text-align: center;
}

.blog_item_footer li {
    display: inline-block;
    float: left;
    width: 25%;
}

.blog_item_footer>ul {
    list-style: none;
    display: inline-block;
    width: 80%;
    padding: 3% 0;
}

.readAllText {
    margin: 7% 0;
}

.readArticle {
    cursor: pointer;
    font-size: 13px;
    border-left: solid 2px gainsboro;
    border-right: solid 2px gainsboro;
}

.blog_item_img img {
    display: block;
    width: 100%;
    height: 27%;
}

.fourImg {
    text-align: left;
    width: 100%;
    height: 27%;
}

.fourImg>div {
    height: 50%;
    width: 100%;
}

.twoImg1>img {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 100%;
}

.twoImg1>img:first-child {
    padding: 1% 0.5% 0.5% 1%;
}

.twoImg1>img:last-child {
    padding: 1% 1% 0.5% 0.5%;
}

.twoImg2>img {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 100%;
}

.twoImg2>img:first-child {
    padding: 0.5% 0.5% 1% 1%;
}

.twoImg2>img:last-child {
    padding: 0.5% 1% 1% 0.5%;
}

span.icon_shipin>i {
    position: absolute;
    font-size: 45px !important;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
}
.videoDiv{
    position: relative;
    width: 100%;
    height: 27%;
}

video{
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.progress{
    position: absolute;
    background: #eee7;
    width: 100%;
    height: 2px;
    bottom: 20px;
}
.progress:hover{
    cursor: pointer;
}
.progress>div{
    height:100%;
    position: absolute;
}

.loadSize{
    height: 100%;
    background: #eee;
}
.nowSize{
    height: 100%;
    background: #f80;
}
.opDiv{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 20px;
}
.opDiv>span:nth-child(1){
    float: left;
    padding-left: 3%;
    line-height: 20px;
}
.opDiv>span:nth-child(n+2){
    float: right;
    padding-right: 4%;
    line-height: 20px;
}
.opDiv>span>i{
    color:#eee!important;
}
.totalTime{
    font-size: 13px;
    color:#eee;
}
.opPanel{
    position: absolute;
    width:100%;
    bottom: 0px;
}
div.rotateImgDiv1 {
    margin-top: 20%;
    width: 100%;
    height: 27%;
}
div.rotateImgDiv2 {
    position: relative;
}

img.rotateImg {
    display: block;
    width: 50%;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px #333;
    -webkit-animation: play 10s linear paused infinite;
    -moz-animation: play 10s linear paused infinite;
    animation: play 10s linear paused infinite;
}

@-webkit-keyframes play {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes play {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes play {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.big {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px rgba(255, 255, 2255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.pagingDiv {
	position: relative;
	display: inline-block;
	left: 50%;
	top: 30px;
	transform: translateX(-50%);
	font-size: 0;
	border: solid #aaa 1px;
	border-radius: 10px;
	background: white;
	margin: -1px 0;

}

.pagingDiv>span {
	cursor: pointer;
	display: inline-block;
	padding: 10px 16px;
	font-size: 18px;
	text-align: center;
	border-left: 1px #aaa solid;
}

.pagingDiv>span:not(.active):hover {
	background: #ddd;
}

span.first {
	border-left: none !important;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

span.last {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

span.active {
	background: #eec;
}