.showImg {
    width: 100%;
    overflow: hidden;
}

.showImg>ul {
    list-style: none;
    float: left;
    width: 21%;
    margin: 0 2% 2% 2%;
}

.showImg>ul>li {
    display: block;
    margin-top: 17%;
    background: white;
}

.img_share {
    width: 100%;
}
.img_share>img{
    display: block;
    width: 100%;
    height: 50%;
}
.img_share_content {
    border-bottom: solid 1px gray;
}
.img_share_title{
    margin: 0 auto;
    width: 70%;
    padding: 3% 0;
    font-size: 14px;
}
.img_share_footer,
.img_share_footer i {
    font-size: 13px !important;
}

.img_share_footer {
    text-align: center;
}

.img_share_footer li {
    display: inline-block;
    float: left;
    width: 25%;
}

.img_share_footer>ul {
    list-style: none;
    display: inline-block;
    width: 80%;
    padding: 3% 0;
}

.pagingDiv {
	position: relative;
	display: inline-block;
	left: 50%;
	top: 30px;
	transform: translateX(-50%);
	font-size: 0;
	border: solid #aaa 1px;
	border-radius: 10px;
	background: white;
	margin: -1px 0;

}

.pagingDiv>span {
	cursor: pointer;
	display: inline-block;
	padding: 10px 16px;
	font-size: 18px;
	text-align: center;
	border-left: 1px #aaa solid;
}

.pagingDiv>span:not(.active):hover {
	background: #ddd;
}

span.first {
	border-left: none !important;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

span.last {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

span.active {
	background: #eec;
}