
.showInfo {
    width: 100%;
    overflow: hidden;
}

.showInfo>ul {
    list-style: none;
    float: left;
    width: 21%;
    margin: 0 2%;
}

.showInfo>ul>li {
    display: block;
    margin-top: 15%;
    height: 300px;
    background:rgb(131, 175, 155);
}

.info_item {
    background: white;
    text-align: center;
}